<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BAM User Application</title>
    <!-- Add Thymeleaf URL before including the Bootstrap stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to BAM User Application!!!</h1>
    <!-- Thymeleaf expression for dynamic content -->
    <p th:text="${'Today is ' + #temporals.format(#temporals.createNow(), 'dd-MM-yyyy')}" style="background-color: green;"></p>
    <!-- Bootstrap button -->
    <div class="container-fluid text-center">
        <a th:href="@{/users}">
            <button type="button" class="btn btn-primary">Manager Users</button>
        </a>
    </div>
</div>
</body>
</html>